.row{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    padding: 2rem;
    
}
.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
    align-content: flex-start;
    padding: 3rem;

    &__heading{
        justify-self: center;
        
    }
    &__paragraph{
        padding: 3rem;

     line-height: 1.5;
     
    }
    &__list{
            list-style: none;
            padding-bottom: 1.5rem;
              border-left: 1px solid #686878;
              position: relative;
              padding-left: 20px;
              margin-left: 10px;
              
              &:before{
                content: '';
                width: 15px;
                height: 15px;
                background: white;
                border: 1px solid $color-secondary;
                box-shadow: 3px 3px 0px #1d1d1f79;
                box-shadow: 3px 3px 0px #1616186a;
                border-radius: 50%;
                position: absolute;
                left: -10px;
                top: 0px;
              }
            
    }
}
.education{
    color: $font-colour;
    font-weight: 500;
    font-size: 2rem;
    padding: 0;
}
