.back-to-top{position: fixed;
    right: 10px;
    bottom: 10px;
    display: inline-block;
    z-index: 9;
    width: 40px;
    height: 40px;
    font-size: 11px;
    text-align: center;
    line-height: 3;
    letter-spacing: 1px;
    background: #515769;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    padding: 5px;
    -webkit-transform: translate3d(0,50px,0);
    -moz-transform: translate3d(0,50px,0);
    transform: translate3d(0,50px,0);
    transition-duration: .3s;
}