.contact{
    background-color: $color-primary-dark;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 3rem;
    @media only screen and (max-width:$bp-medium){
        grid-template-columns: min-content 1fr;
    }
    @media only screen and (max-width:$bp-mobile){
        display: block;
      }

    

&-right {
display: grid;
grid-template-columns: repeat(2,1fr) ;
justify-content: center;
align-items: center;
padding: 2rem;
text-align: center;

}
&__heading{
    margin-left: 5rem;
margin-top: 7rem;
padding: 2rem;
margin-bottom: 0;
text-transform: uppercase;
justify-self: center;
@media only screen and (max-width:$bp-mobile){
    text-align: center;
    margin: 0rem;
    padding: 0rem;
}

}
&__paragraph{
    margin-left: 2rem;
    padding: 2rem;
    @media only screen and (max-width:$bp-mobile){
        text-align: center;
        margin-left: 0rem;
    padding: 0rem;
    }
}
&__detail{
    padding: 2rem;
    text-decoration: none;
a{
    text-decoration: none;
}
}


}